<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
	<runtime>
		<Thread_UseAllCpuGroups enabled="true"/>
		<GCCpuGroup enabled="true"/>
		<gcServer enabled="true"/>
	</runtime>
	<appSettings>
		<add key="Log.FileName" value="Output.log.txt" />

		<add key="N" value="3218147" />
		<add key="Degree" value="3" />
		<add key="Base" value="117" />
		<add key="Bound" value="550" />
		<add key="RelationQuantity" value="-1" />
		<add key="RelationValueRange" value="270" />

		<!--

		<add key="N" value="45113" />
    <add key="Degree" value="3" />
    <add key="Base" value="31" />
    <add key="Bound" value="29" />
    <add key="RelationQuantity" value="120" />
    <add key="RelationValueRange" value="1000" />
		
	  -->

		<!--  RSA-100 
	
    <add key="N" value="1522605027922533360535618378132637429718068114961380688657908494580122963258952897654000350692006139" />
    <add key="Degree" value="5" />
    <add key="Base" value="1261737131078349405" />
    <add key="Bound" value="510379" />
	<add key="RelationQuantity" value="1000" />
    <add key="RelationValueRange" value="32001" />	
	  
		-->

	</appSettings>
</configuration>
